* {
	box-sizing: border-box;
}
:root {
	--text-bold: "SfProDisplayBold";
}

#Post-Covid-Container {
	height: 100vh;
}
.Post-Covid-Content-Container {
	padding: 1rem 1rem;
}
.Post-Covid-Content-Container h3 {
	text-align: left;
	color: white;
}
.Post-Covid-Flex-Container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 95%;
}

.Post-Covid-Flex-Container > div {
	background-color: #151515;
	width: 49.5%;
	padding: 1rem 0;
	padding-top: 2rem;
	border-radius: 0.75rem 0.75rem;
}
.Post-Covid-Flex-Container img {
	height: 6rem;
}
.Post-Covid-Flex-Container p {
	color: white;
	font-size: 1.5rem;
}

/* Yoga */
#Yoga-Container {
	height: 100vh;
}
.yoga-content-container h2 {
	color: white;
	text-align: left;
	font-family: var(--text-bold);
}
.yoga-content-container {
	padding: 1.5rem 1.5rem;
}
