@font-face {
	font-family: futura;
	src: url("./fonts/FuturaBookBT.ttf");
}
@font-face {
	font-family: SfProDisplayBold;
	src: url("./fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
}
@font-face {
	font-family: SfProDisplayMedium;
	src: url("./fonts/FontsFree-Net-SFProDisplay-Medium\ \(2\).ttf");
}
:root {
	--background: Black;
	--text-bold: "SfProDisplayBold";
	--text-medium: "SfProDisplayMedium";
	--sub-text: "futura";
}

* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 80%;
}
.App {
	background: var(--background);
}

body {
	text-align: center;
	margin: 0 0;
}

/* Landing Page style */

.LandingPage {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

header {
	margin-top: 45vh;
}
figcaption {
	width: 14rem;
	margin: auto;
	text-align: right;
	transform: translateY(-6px);
}
figcaption span {
	margin: 0 0.2rem;
}

.subHeading-by {
	color: #b6b6b6;
	font-size: 11px;
	font-family: var(--text-medium);
}
.subHeading {
	font-size: 11px;
	color: #b6b6b6;
	font-family: var(--sub-text);
}
.button-wrap {
	border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
	width: 227px;
	height: 50px;
	padding: 0.04rem;
	position: relative;
	background: radial-gradient(#56ffc2, #4bc749);
	margin: auto;
}
button {
	background: var(--background);
	width: 227px;
	height: 50px;
	border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
}
.button-wrap button p {
	font-family: var(--text-bold);
	font-size: 18px;
	margin: auto;
}
.footer-footer {
	font-family: var(--text-bold);
	font-size: 10px;
	color: #d0d0d0;
}
.footer-footer span {
	text-decoration: underline;
}

/* States.js styles*/

.StatesContainer {
	position: relative;
	margin: 0 0;
	height: 100vh;
	background: var(--background);
	overflow: scroll;
}
.statesContainer-Content {
	margin: 0 1.2rem;
	margin-top: -1rem;
	margin-left: 1.4rem;
}
.headerText {
	text-align: left;
	padding: 3.2rem 0 0.75rem 1.3rem;
}
.headerText h1 {
	color: white;
	font-family: var(--text-bold);
}
.state-search-input {
	width: 90%;
	height: 2.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 1rem;
	margin-left: -0.5rem;
	background: #151515;
	border-radius: 1rem 1rem 1rem 1rem;
}
.state-search-input > input {
	border: none;
	outline: none;
	background: #151515;
	flex: 1;
	margin: 0 0.3rem;
	color: #fcfcfc;
	font-family: var(--text-medium);
}
.state-search-input > i {
	color: #868686;
	width: 14.5px;
	height: 13px;
}

.StatesContainer footer {
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 4.4rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #151515;
	opacity: 95%;
}
.StatesContainer footer ul {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.StatesContainer footer ul li {
	align-items: center;
	align-self: center;
}

.states-content-container {
	margin-bottom: 8rem;
	padding-bottom: 1rem;
}

/* states Grid componenet  */
.states-parent-grid-container {
	margin-left: 1rem;
	object-fit: fill;
	width: 90%;
	display: grid;
	grid-template-columns: auto auto;
	align-content: center;
	background: #151515;

	border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
}
.states-parent-grid-container > .states-child-grid-container {
	height: 6.9rem;
	border: 0.1px solid #282828;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.states-parent-grid-container > .top-child {
	border-top: none;
}
#top-child-1 {
	border-radius: 0.75rem 0 0 0;
}
#top-child-2 {
	border-radius: 0 0.75rem 0 0;
}
#bottom-child-1 {
	border-radius: 0 0 0 0.75rem;
}
#bottom-child-2 {
	border-radius: 0 0 0.75rem 0;
}
.states-parent-grid-container > .states-child-grid-container .child {
	height: 4.18rem;
	width: 4.18rem;
	display: grid;
	align-content: center;
	font-family: var(--text-bold);
	font-size: 1.5rem;
	border-radius: 50%;
	color: white;
}
.state-name {
	font-size: 1rem;
	text-align: center;
	font-family: var(--text-medium);
	color: #868686;
}

.states-child-grid-container .child-1 {
	background: linear-gradient(to bottom right, #a893ff, #3b0240);
}
.states-child-grid-container .child-2 {
	background: linear-gradient(to bottom right, #9b8bff, #00091c);
}

.states-child-grid-container .child-3 {
	background: linear-gradient(to bottom right, #d7ffa4, #000000);
}
.states-child-grid-container .child-4 {
	background: linear-gradient(to bottom right, #d187fe, #2e033d);
}
.states-child-grid-container .child-5 {
	background: linear-gradient(to bottom right, #87f3e6, #032523);
}
.states-child-grid-container .child-6 {
	background: linear-gradient(to bottom right, #f3ffa6, #293002);
}
.states-child-grid-container .child-7 {
	background: linear-gradient(to bottom right, #ffc187, #162c00);
}
.states-child-grid-container .child-8 {
	background: linear-gradient(to bottom right, #ffa8d2, #001e1e);
}
.states-child-grid-container .child-9 {
	background: linear-gradient(to bottom right, #98e791, #340956);
}
.states-child-grid-container .child-10 {
	background: linear-gradient(to bottom right, #f5ff87, #00250a);
}
.states-child-grid-container .child-11 {
	background: linear-gradient(to bottom right, #adf7c6, #06150b);
}
.states-child-grid-container .child-12 {
	background: linear-gradient(to bottom right, #d9d9d9, #343232);
}
.states-child-grid-container .child-13 {
	background: linear-gradient(to bottom right, #ffa8d2, #33011f);
}
.states-child-grid-container .child-14 {
	background: linear-gradient(to bottom right, #fdff98, #250b03);
}
.states-child-grid-container .child-15 {
	background: linear-gradient(to bottom right, #edfa9e, #031522);
}
.states-child-grid-container .child-16 {
	background: linear-gradient(to bottom right, #d0ff84, #070c00);
}
.states-child-grid-container .child-17 {
	background: linear-gradient(to bottom right, #b7a5ff, #210224);
}
.states-child-grid-container .child-18 {
	background: linear-gradient(to bottom right, #e6e6e6, #000516);
}
.states-child-grid-container .child-19 {
	background: linear-gradient(to bottom right, #fdff85, #1b011f);
}
.states-child-grid-container .child-20 {
	background: linear-gradient(to bottom right, #c696f7, #000a16);
}

.states-child-grid-container .child-21 {
	background: linear-gradient(to bottom right, #b1a4fe, #030d22);
}
.states-child-grid-container .child-22 {
	background: linear-gradient(to bottom right, #e69df2, #031230);
}
.states-child-grid-container .child-23 {
	background: linear-gradient(to bottom right, #9a82fd, #130014);
}
.states-child-grid-container .child-24 {
	background: linear-gradient(to bottom right, #beffae, #001f0e);
}
.states-child-grid-container .child-25 {
	background: linear-gradient(to bottom right, #cbc4f7, #00091b);
}
.states-child-grid-container .child-26 {
	background: linear-gradient(to bottom right, #abffdc, #172101);
}
.states-child-grid-container .child-27 {
	background: linear-gradient(to bottom right, #ffeeb2, #012f03);
}
.states-child-grid-container .child-28 {
	background: linear-gradient(to bottom right, #ffa3a3, #13011f);
}

.states-child-grid-container .child-29 {
	background: linear-gradient(to bottom right, #a893ff, #3b0240);
}
.states-child-grid-container .child-30 {
	background: linear-gradient(to bottom right, #9b8bff, #00091c);
}
.states-child-grid-container .child-31 {
	background: linear-gradient(to bottom right, #d7ffa4, #000000);
}
.states-child-grid-container .child-32 {
	background: linear-gradient(to bottom right, #d187fe, #2e033d);
}
.states-child-grid-container .child-33 {
	background: linear-gradient(to bottom right, #87f3e6, #032523);
}
.states-child-grid-container .child-34 {
	background: linear-gradient(to bottom right, #f3ffa6, #293002);
}
.states-child-grid-container .child-35 {
	background: linear-gradient(to bottom right, #ffc187, #162c00);
}
.states-child-grid-container .child-36 {
	background: linear-gradient(to bottom right, #ffa8d2, #001e1e);
}
