@font-face {
	font-family: futura;
	src: url("./fonts/FuturaBookBT.ttf");
}
@font-face {
	font-family: SfProDisplayBold;
	src: url("./fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
}
@font-face {
	font-family: SfProDisplayMedium;
	src: url("./fonts/FontsFree-Net-SFProDisplay-Medium\ \(2\).ttf");
}
:root {
	--background: Black;
	--text-bold: "SfProDisplayBold";
	--text-medium: "SfProDisplayMedium";
	--sub-text: "futura";
}

* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 80%;
}
.App {
	background: var(--background);
}

body {
	text-align: center;
	margin: 0 0;
}

.LandingPage {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

header {
	margin-top: 45vh;
}
figcaption {
	width: 14rem;
	margin: auto;
	text-align: right;
	transform: translateY(-6px);
}
figcaption span {
	margin: 0 0.2rem;
}

.subHeading-by {
	color: #b6b6b6;
	font-size: 11px;
	font-family: var(--text-medium);
}
.subHeading {
	font-size: 11px;
	color: #b6b6b6;
	font-family: var(--sub-text);
}
.button-wrap {
	border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
	width: 227px;
	height: 50px;
	padding: 0.04rem;
	position: relative;
	background: radial-gradient(#56ffc2, #4bc749);
	margin: auto;
}
button {
	background: var(--background);
	width: 227px;
	height: 50px;
	border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
}
.button-wrap button p {
	font-family: var(--text-bold);
	font-size: 18px;
	margin: auto;
}
.footer-footer {
	font-family: var(--text-bold);
	font-size: 10px;
	color: #d0d0d0;
}
.footer-footer span {
	text-decoration: underline;
}

.StatesContainer {
	position: relative;
	margin: 0 0;
	height: 100vh;
	background: var(--background);
}
.headerText {
	text-align: left;
	padding: 3.2rem 0 0.75rem 1.3rem;
}
.headerText h1 {
	color: white;
}
.state-search-input {
	width: 80%;
	height: 2.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 1rem;
	background: #151515;
	border-radius: 1rem 1rem 1rem 1rem;
}
.state-search-input > input {
	border: none;
	outline: none;
	background: #151515;
	flex: 1;
	margin: 0 0.3rem;
	color: #fcfcfc;
	font-family: var(--text-medium);
}
.state-search-input > i {
	color: #868686;
	width: 14.5px;
	height: 13px;
}

.StatesContainer footer {
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 6rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #151515;
}
.StatesContainer footer ul {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.StatesContainer footer ul li {
	align-items: center;
	align-self: center;
}
.searchStateInput {
	display: none;
}
/*
*/
