.call-to-action {
  margin: 1rem auto;
}
.call-to-action .card__image {
  height: 6rem;
  width: 6rem;
  margin-bottom: 1rem;
}

.call-to-action .beta {
  color: #000;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-weight: bold;
}
