:root {
	--text-medium: "SfProDisplayMedium";
	--text-bold: "SfProDisplayBold";
}
#Call-To-Action-Container {
	margin-top: 1rem;
}
#Call-To-Action-Container h2 {
	color: white;
	text-align: left;
	font-size: 2rem;
	font-family: var(--text-bold);
}

.Call-To-Action-Info-Container {
	background-color: #151515;
	padding: 4rem 1rem;
}

.Call-To-Action-Info-Container img {
	height: 6rem;
	margin-bottom: 1rem;
	margin-top: -2rem;
}
.Call-To-Action-Info-Container p {
	color: white;
	font-family: var(--text-medium);
	margin-bottom: 2rem;
}
#cta-btn {
	background-color: #4ca0dc;
	color: white;
	font-family: var(--text-medium);
	font-size: 1.2rem;
	position: relative;
}
#cta-btn #beta {
	color: #e33a3a;
	font-size: 0.8rem;
	position: absolute;
}
