* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.list {
	background-color: crimson;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.emoji-and-title {
	width: 80%;
	background-color: greenyellow;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
