@font-face {
	font-family: SfProDisplayBold;
	src: url("../../fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
}
@font-face {
	font-family: SfProDisplayMedium;
	src: url("../../fonts/FontsFree-Net-SFProDisplay-Medium\ \(2\).ttf");
}
:root {
	--text-bold: "SfProDisplayBold";
	--text-medium: "SfProDisplayMedium";
}
/* Resources Grid*/
.Container-wrapper {
	padding: 1rem;
}
.resources-grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
}
.resources-grid-container > div {
	height: 12rem;
	width: auto;
	border-radius: 0.75rem;
	margin: 0.2rem 0.2rem;
	text-align: left;
	background-color: #151515;
	padding: 0.6rem 0.4rem;
}
.child-div img {
	height: 3.5rem;
	width: 3.5rem;
}

.information {
	color: white;
}
.information h3 {
	font-family: var(--text-bold);
	font-size: 1.5rem;
	color: white;
}
.information > p {
	font-size: 0.9rem;
	font-family: var(--text-medium);
}

/*main page resources*/
#resources-content-container {
	padding-bottom: 4rem;
}
