/* Resources Grid*/
.resources-grid-container {
	background-color: blueviolet;
	display: grid;
	grid-template-columns: 50% 50%;
}
.resources-grid-container > div {
	border: 3px solid white;
	height: 12rem;
	width: auto;
	border-radius: 0.75rem;
	margin: 0.2rem 0.2rem;
	text-align: left;
	background-color: cyan;
	box-sizing: border-box;
}
.information > p {
	font-size: 0.8rem;
}
