/* Vaccine info card in vaccine page*/
#Parent-Container-vaccine-Info {
	margin-top: 1rem;
}
#Parent-Container-vaccine-Info h2 {
	color: white;
	text-align: left;
	font-family: var(--text-bold);
}
.vaccine-info-container {
	color: white;
	background-color: #151515;
	text-align: left;
	font-size: 1rem;
	padding: 1.5rem 1.5rem;
	position: relative;
}

.vaccine-info-container span {
	text-decoration: underline;
}
.vaccine-info-container a {
	cursor: pointer;
}
.register-btn {
	text-align: center;
}
.vaccine-info-container img {
	height: 3rem;
}

/* Vaccine Main PAage compoenet*/
#Vaccine-Container {
	padding-bottom: 20%;
	scroll-behavior: smooth;
}
.vaccine-content-container {
	padding: 1.5rem 1.5rem;
}
.vaccine-content-container h2 {
	color: white;
	font-family: var(--text-bold);
	text-align: left;
}
