:root {
	--text-bold: "SfProDisplayBold";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}
#categoryComponent {
	display: none;
}
/* category cards padding*/
.cat-text {
	padding: 1rem 1rem;
}

.category-block p {
	font-size: 1.2rem;
}
.category-block h4 {
	font-size: 1.5rem;
}
.category-block h2 {
	text-align: left;
}
.category-container {
	display: grid;
	grid-template-columns: 48% 48%;
	grid-gap: 4vw;
}
.category-container h4,
p {
	font-family: var(--text-bold);
}
.category-container .Icons {
	height: 5rem;
	width: 5rem;
}
.cat-1 {
	grid-column: 1/3;
}
.cat-3 {
	grid-column: 2/3;
	grid-row: 2/4;
}
.cat-5 {
	grid-column: 2/3;
	grid-row: 3/4;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.cat-bg img:first-child {
	width: 100%;
}

.arrow {
	position: absolute;
	bottom: 0.8rem;
	right: 0.8rem;
	height: 2.5rem;
	width: 3rem;
	padding: 0.3rem 0.3rem;
}
.cat-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.cat-1 .cat-text {
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.cat-text h4 {
	font-weight: 900;
}
.cat-text p {
	font-weight: 700;
	margin-top: 1.2rem;
	padding-right: 1.2rem;
}
.cat-text img:first-child {
	margin-bottom: 1rem;
}

.cat-3 .cat-text img:first-child {
	text-align: center;
	left: 25%;
}
.cat-3 .cat-text {
	top: -5%;
}

.cat-5 h4 {
	line-height: 2rem;
	background: linear-gradient(136.87deg, #94428c -7.83%, #2a2a2a 122.39%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Category select state*/
.cat-info {
	text-align: left;
}

.cat-1 .cat-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1rem;
}
.cat-1 .cat-text .cat-info {
	width: 70%;
	text-align: left;
}
.cat-1 .cat-text img {
	width: 25%;
	height: 50%;
	margin-top: -2rem;
}

.cat-2 .Icons {
	padding-top: 0.3rem;
}
